.App {
  text-align: center;
  max-width: 750px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: rgb(228, 228, 228);
  border-radius: 30px 30px 10px 10px;
}

